<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SecuritySoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SecuritySoap1" />
                <binding name="ConsumerSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ConsumerSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test-webservices.tpn.co.za/security.asmx"
                binding="basicHttpBinding" bindingConfiguration="SecuritySoap"
                contract="TpnSecurityService.SecuritySoap" name="SecuritySoap" />
            <endpoint address="https://test-webservices.tpn.co.za/consumer.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConsumerSoap"
                contract="TpnConsumerService.ConsumerSoap" name="ConsumerSoap" />
        </client>
    </system.serviceModel>
</configuration>